#bg-pills {
  background: rgba(0, 0, 0, 0) url("../../assets/images/pills-bg.jpg") no-repeat
    scroll;
  min-height: 660px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 991px) and (min-width: 768px) {
  #bg-pills {
    background-position: 68% center;
  }
}
